//Colours should always only appear in this colours.scss
$black:#0e0f10;
$white: #fff;
$blue--light: #048bfe;
$blue: #0072ee;
$orange: #f15f0d;
$gray: #dfdfdf;
$green: #67a969;

$color-bodyText: $black;
$color-primary: $blue--light;
$color-secondary: $blue;
