// Open Sans regular, semiBold, bold
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
//FONT FAMILIES
$font-base: 'Open Sans', sans-serif;
//FONT SIZES
$fontSize-xsmall: 12px;
$fontSize-small: 14px;
$fontSize-base: 18px;
$fontSize-large: 20px;
$fontSize-larger: 24px;
$fontSize-largest: 26px;

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

//LINE HEIGHTS
$lineHeight-stightest: 1.15;
$lineHeight-tightest: 1.25;
$lineHeight-tighter: 1.3;
$lineHeight-tight: 1.4;
$lineHeight-base: 1.6;
