input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 5px 10px 5px;
    font-size: 22px;
    line-height: $lineHeight-base;
    border: 1px solid $white;
    border-radius: 24px;
    color: $white;
    -webkit-appearance: none;
    text-align: center;
    background: none;
    &:focus {
    }
    &::placeholder {
        color: $white;
    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: $fontSize-small;
    line-height: $lineHeight-base;
    font-weight: $fontWeight-semibold;
    border-radius: 0;
    border: none;
    background: $white;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include breakpoint(medium) {
        font-size: $fontSize-base;
    }
    &:hover,
    &:active {
        cursor: pointer;
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.32); 
        color: $white;
    }
    &.btn-blue {
        background: $blue;
        color: $white;
        @include breakpoint(large) {
            background: $white;
            color: $blue;
        }
    }
    &.btn-red {
        background: $orange;
        color: $white;
        @include breakpoint(large) {
            background: $white;
            color: $orange;
        }
    }
    &.btn-green {
        background: $green;
        color: $white;
        @include breakpoint(large) {
            background: $white;
            color: $green;
        }
    }
}
.btn--primary {
    font-size: 22px;
    font-weight: $fontWeight-normal;
    padding: 5px 50px;
    border-radius: 24px;
    box-shadow: 0 4px 0 #022b4d;
}
.btn--fullWidth {
    width: 100%;
}

.form {
    margin-left: -5px;
    margin-right: -5px;
    @include breakpoint(medium) {
        margin-left: -11px;
        margin-right: -11px;
    }
    .form-item {
        margin-bottom: 10px;
        padding: 0 5px;
        @include breakpoint(medium) {
            width: auto;
            margin-bottom: 22px;
            padding-left: 11px;
            padding-right: 11px;
        }
        &.form-item--half {
            @include breakpoint(medium) {
                float: left;
                width: 50%;
            }
            .btn {
                margin: 0;
            }
        }
        .wpcf7-not-valid {
            border-color: $color-secondary;
        }
    }
    .wpcf7-not-valid-tip {
        position: relative;
        top: 5px;
        left: 10px;
        color: $color-secondary;
    }
}
div.wpcf7-response-output {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 5px;
}

.form--contact {
    margin-top: 20px;
    .form-item--action {
        text-align: center;
        .btn {
            width: 245px;
        }
    }
}
.container {
    position: relative;
}
.device__img {
    position: absolute;
    max-width: 343px;
    height: auto;
    left: -90px;
    top: -120px;
}