<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=auto, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>

<div class="siteContent">
    <?php require_once('blocks/partials/header.html'); ?>
    <main>
        <section class="siteSection siteSection-teaser">
    <section class="siteSection-blue firstanimation">
    </section>
    <section class="siteSection-red secondanimation">
    </section>
    <section class="siteSection-green thirdanimation">
    </section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 text-item">
                    <div class="text-container">
                        <div class="text textin">
                            <p>Drupal - your enterprise ideas on the Web</p>
                            <a href="#" class="btn btn-blue">Call to action button</a>
                        </div>
                        <div class="text-red textintwo">
                            <p>Develop your eCommerce opportunities with our Magento expertise. Our dedicated team right here</p>
                            <a href="#" class="btn btn-red">Call to action button</a>
                        </div>
                        <div class="text-green textinthree">
                            <p>Front End - bla bla bla</p>
                            <a href="#" class="btn btn-green">Call to action button</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="laptop-container">
                        <div class="laptop-item textin">
                            <div class="laptop"></div>
                            <div class="tablet"></div>
                            <div class="mobile"></div>  
                        </div>
                        <div class="laptop-item textintwo">
                            <div class="laptop-red"></div>
                            <div class="tablet-red"></div>
                            <div class="mobile-red"></div>
                        </div>
                        <div class="laptop-item textinthree">
                            <div class="laptop-green"></div>
                            <div class="tablet-green"></div>
                            <div class="mobile-green"></div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
</section>
    </main>
</div>
    <footer class="footer">

    </footer>

    <script src="js/vendor/jquery-3.1.0.min.js"></script>
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>


    </body>
</html>

